src/main/resources/CCSCD3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
#
#
# Copyright (c) 2009, 2010 Oracle. All rights reserved.
#
# This material is the confidential property of Oracle Corporation or its
# licensors and may be used, reproduced, stored or transmitted only in
# accordance with a valid Oracle license or sublicense agreement.
#
-->
<wsdl:definitions name="CCSCD3"
  targetNamespace="http://xmlns.oracle.com/communications/ncc/2009/05/15/pi"
  xmlns:pi="http://xmlns.oracle.com/communications/ncc/2009/05/15/pi"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  
  <!-- Note: only those parameters that are required in all cases have been marked as mandatory.
       Some other parameters may be mandatory depending on circumstances (e.g. the values
       of other parameters).
  
       Please see:  ChargingMax v3.1 
                    On-Line Provisioning Interface Engine 
                    Detailed Specification 
                    Specification of the PI command business rules. 
                    Document Version: 01.06 
                    Release Date: 12 January 2009 
                    
       for more information about parameters and the rules applying to them -->

  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" 
               elementFormDefault="qualified" 
               targetNamespace="http://xmlns.oracle.com/communications/ncc/2009/05/15/pi" 
               xmlns="http://www.w3.org/2001/XMLSchema">
    
      <xs:element name="CCSCD3_RCH">
        <!-- Recharge an account – (custom), verify recharge (credit). This command can 
             be enhanced by installing the piVoucherSms package to enable voucher recharging. 
             We've documented the enhanced version here (i.e. assuming piVoucherSms is installed) -->
        <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" name="AUTH" type="xs:string"/>
             <xs:element minOccurs="0" name="username" type="xs:string"/>
             <xs:element minOccurs="0" name="password" type="xs:string"/>
             <xs:element minOccurs="1" name="RECHARGE_TYPE" type="xs:string"/>
             <xs:element minOccurs="1" name="REFERENCE" type="xs:string"/>
             <xs:element minOccurs="0" name="MSISDN" type="xs:string"/>
             <xs:element minOccurs="0" name="ACCOUNT_NUMBER" type="xs:string"/>
             <xs:element minOccurs="0" name="AMOUNT" type="xs:string"/>
             <xs:element minOccurs="0" name="BALANCE_EXPIRY" type="xs:integer"/>
             <xs:element minOccurs="0" name="WALLET_EXPIRY" type="xs:integer"/>
             <xs:element minOccurs="0" name="MODE" type="xs:string"/>
             <xs:element minOccurs="0" name="WALLET_TYPE" type="xs:string"/>
             <xs:element minOccurs="0" name="BALANCE_TYPE" type="xs:string"/>
             <xs:element minOccurs="0" name="LIMIT_TYPE" type="xs:string"/>
             <xs:element minOccurs="0" name="EXTRA_EDR" type="xs:string"/>
             <xs:element minOccurs="0" name="BALMODE" type="xs:string"/>
             <xs:element minOccurs="0" name="NEW_BUCKET" type="xs:string"/>
             <xs:element minOccurs="0" name="SCENARIO_ID" type="xs:string"/>
             <xs:element minOccurs="0" name="SCENARIO_NAME" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="CCSCD3_RCHResponse">
        <xs:complexType>
           <xs:sequence maxOccurs="unbounded">
             <xs:element minOccurs="0" name="AUTH" type="xs:string"/>
             <xs:element minOccurs="0" name="return" type="xs:string"/>
           </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="CCSCD3_RCHFault">
        <xs:complexType>
           <xs:sequence>
             <xs:element minOccurs="0" name="CODE" type="xs:string"/>
           </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="CCSCD3_CTR">
        <!-- Performs a CCS credit transfer between two accounts -->
        <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" name="AUTH" type="xs:string"/>
             <xs:element minOccurs="0" name="username" type="xs:string"/>
             <xs:element minOccurs="0" name="password" type="xs:string"/>
             <xs:element minOccurs="1" name="ORIG_MSISDN" type="xs:string"/>
             <xs:element minOccurs="1" name="DEST_MSISDN" type="xs:string"/>
             <xs:element minOccurs="1" name="CT_TYPE" type="xs:string"/>
             <xs:element minOccurs="0" name="ORIG_WALLET" type="xs:string"/>
             <xs:element minOccurs="0" name="DEST_WALLET" type="xs:string"/>
             <xs:element minOccurs="0" name="PIN" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="CCSCD3_CTRResponse">
        <xs:complexType>
           <xs:sequence maxOccurs="unbounded">
             <xs:element minOccurs="0" name="AUTH" type="xs:string"/>
             <xs:element minOccurs="0" name="return" type="xs:string"/>
           </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="CCSCD3_CTRFault">
        <xs:complexType>
           <xs:sequence>
             <xs:element minOccurs="0" name="CODE" type="xs:string"/>
           </xs:sequence>
        </xs:complexType>
      </xs:element>
      
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="CCSCD3_RCHRequest">
    <wsdl:part name="parameters" element="pi:CCSCD3_RCH"/>
  </wsdl:message>
  
  <wsdl:message name="CCSCD3_RCHResponse">
    <wsdl:part name="parameters" element="pi:CCSCD3_RCHResponse"/>
  </wsdl:message>

  <wsdl:message name="CCSCD3_RCHFault">
    <wsdl:part name="parameters" element="pi:CCSCD3_RCHFault"/>
  </wsdl:message>

  <wsdl:message name="CCSCD3_CTRRequest">
    <wsdl:part name="parameters" element="pi:CCSCD3_CTR"/>
  </wsdl:message>
  
  <wsdl:message name="CCSCD3_CTRResponse">
    <wsdl:part name="parameters" element="pi:CCSCD3_CTRResponse"/>
  </wsdl:message>

  <wsdl:message name="CCSCD3_CTRFault">
    <wsdl:part name="parameters" element="pi:CCSCD3_CTRFault"/>
  </wsdl:message>

  <wsdl:portType name="CCSCD3PortType">
  
    <wsdl:operation name="CCSCD3_RCH">
      <!-- Recharge an account/bucket -->
      <wsdl:input message="pi:CCSCD3_RCHRequest" wsaw:Action="urn:CCSCD3_RCH"/>
      <wsdl:output message="pi:CCSCD3_RCHResponse" wsaw:Action="urn:CCSCD3_RCHResponse"/>
      <wsdl:fault name="CCSCD3_RCHFault" message="pi:CCSCD3_RCHFault" wsaw:Action="urn:CCSCD3_RCHFault"/>
    </wsdl:operation>
    
    <wsdl:operation name="CCSCD3_CTR">
      <!-- Credit transfer -->
      <wsdl:input message="pi:CCSCD3_CTRRequest" wsaw:Action="urn:CCSCD3_CTR"/>
      <wsdl:output message="pi:CCSCD3_CTRResponse" wsaw:Action="urn:CCSCD3_CTRResponse"/>
      <wsdl:fault name="CCSCD3_CTRFault" message="pi:CCSCD3_CTRFault" wsaw:Action="urn:CCSCD3_CTRFault"/>
    </wsdl:operation>
    
  </wsdl:portType>

  <wsdl:binding name="CCSCD3Soap11Binding" type="pi:CCSCD3PortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="CCSCD3_RCH">
          <soap:operation soapAction="urn:CCSCD3_RCH" style="document"/>
          <wsdl:input>
              <soap:body use="literal"/>
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal"/>
          </wsdl:output>
          <wsdl:fault name="CCSCD3_RCHFault">
              <soap:fault use="literal" name="CCSCD3_RCHFault"/>
          </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="CCSCD3_CTR">
          <soap:operation soapAction="urn:CCSCD3_CTR" style="document"/>
          <wsdl:input>
              <soap:body use="literal"/>
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal"/>
          </wsdl:output>
          <wsdl:fault name="CCSCD3_CTRFault">
              <soap:fault use="literal" name="CCSCD3_CTRFault"/>
          </wsdl:fault>
      </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="CCSCD3Soap12Binding" type="pi:CCSCD3PortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="CCSCD3_RCH">
          <soap:operation soapAction="urn:CCSCD3_RCH" style="document"/>
          <wsdl:input>
              <soap:body use="literal"/>
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal"/>
          </wsdl:output>
          <wsdl:fault name="CCSCD3_RCHFault">
              <soap:fault use="literal" name="CCSCD3_RCHFault"/>
          </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="CCSCD3_CTR">
          <soap:operation soapAction="urn:CCSCD3_CTR" style="document"/>
          <wsdl:input>
              <soap:body use="literal"/>
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal"/>
          </wsdl:output>
          <wsdl:fault name="CCSCD3_CTRFault">
              <soap:fault use="literal" name="CCSCD3_CTRFault"/>
          </wsdl:fault>
      </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="CCSCD3">
        <wsdl:port name="CCSCD3HttpSoap11Endpoint" binding="pi:CCSCD3Soap11Binding">
            <soap:address location="http://SMP:2999"/>
        </wsdl:port>
        <wsdl:port name="CCSCD3HttpSoap12Endpoint" binding="pi:CCSCD3Soap12Binding">
            <soap12:address location="http://SMP:3999"/>
        </wsdl:port>
  </wsdl:service>

</wsdl:definitions>